.titulo-categoria {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--destaque);
    margin-bottom: 30px;
}

.aviso-categoria p {
    color: var(--text-light);
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}