/* ====== ESTILOS GERAIS DO MODAL ====== */

#modalCadastro .modal-content {
    background: var(--fundo); 
    border-radius: 22px;
    padding: 10px 8px;
    border: none;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.15);
}

/* Header */
#modalCadastro .modal-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

#modalCadastro .modal-title {
    font-size: 1.5rem;
    color: var(--texto);  
    font-weight: 700;
}

#modalCadastro .btn-close {
    filter: brightness(0.5);
}

/* ====== FORMULÁRIO ====== */

#modalCadastro label {
  color: var(--texto);
  font-weight: 600 !important;
}


#modalCadastro .form-control,
#modalCadastro .form-select {
    border-radius: 14px;
    border: 1px solid #e5c5b8;
    padding: 10px;
    font-size: 1rem;
    background-color: #fff;
}

#modalCadastro .form-control:focus,
#modalCadastro .form-select:focus {
    border-color: #f9b487;
    box-shadow: 0 0 0 0.18rem rgba(249, 180, 135, 0.35);
}

/* ====== BOTÃO PRINCIPAL ====== */

#modalCadastro button[type="submit"] {
    background-color: #f9b487;
    border: none;
    padding: 12px 0;
    font-size: 1.15rem;
    color: #174143;
    font-weight: 600 !important; 
    border-radius: 14px;
    transition: .3s;
}

#modalCadastro button[type="submit"]:hover {
    background-color: #fbab79;
    transform: translateY(-2px);
}

/* Texto pequeno */
#modalCadastro small {
    color: #6f6f6f;
}

/* Texto "Já possui conta? Entrar aqui" */
#modalCadastro .texto-login {
    color: #174143;
    font-weight: 700;
    cursor: pointer;
}

#modalCadastro .texto-login:hover {
    text-decoration: underline;
}

/* Checkbox */
#modalCadastro .form-check-input:checked {
    background-color: #f9b487;
    border-color: #f9b487;
}

/* Responsividade */
@media (max-width: 768px) {
    #modalCadastro .modal-dialog {
        padding: 10px;
    }

    #modalCadastro .modal-content {
        border-radius: 16px;
    }
}

/* ====== MODAL DE SUCESSO/DUPLICADO/ERRO ====== */

.modal-content {
    background: var(--fundo);
    border-radius: var(--border-radius);
    padding: 20px;
    border: none;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.15);
}

.modal-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
}

.modal-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.modal-body p {
    font-size: 1.4rem;
    color: var(--texto);
}

.modal-body i {
    font-size: 3rem;
}

