.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    margin-bottom: 50px;
    padding: 0 8vw;
}

@media (max-width: 910px) {
    .products-grid {
        /* display: grid; */
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 20px;
        /* margin-bottom: 50px; */
        padding: 0 6vw;
    }
}

.product-card {
    position: relative;
    background: var(--white);
    border-radius: var(--border-radius);
    overflow: visible;
    box-shadow: 0 12px 40px #d1a68abe;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 22px;
    text-align: center;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* .product-image {
    overflow: hidden;
    height: 200px;
} */

.product-image img {
    width: 100%;
    height: 160px;
    border-radius: 14px;
    object-fit: cover;
    margin-bottom: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    border-top-left-radius: var(--borda-redonda1);
    border-top-right-radius: var(--borda-redonda2);
}

.product-card:hover .product-image img {
    transform: scale(1.05);
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--error-color);
    padding: 4px 10px;
    border-radius: 100%;
    color: var(--white);
    font-size: 20px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    z-index: 10;
}

.favorite-btn:hover,
.favorite-btn.active {
    color: var(--error-color);
    background: var(--white);
    transform: scale(1.1);
}

.product-info {
    padding: 20px;
}

.product-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 8px;
}

.product-store {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.product-rating .stars {
    color: var();
}

.product-rating .rating-text {
    color: #6B7280;
    font-size: 0.9rem;
}

.product-price {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--primary-orange);
    margin-bottom: 15px;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.btn-product {
    flex: 1;
    padding: 9px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    background: var(--fundo);
    border-radius: var(--border-radius);
    text-decoration: none;
    color: var(--linha);
    transition: 0.3s;
}

.btn-product:hover {
    transform: scale(1.05);
    background: var(--destaque) !important;
    color: var(--fundo);
    text-decoration: none;
}